.center{
  text-align: center;
}

/*Sign In */
#SignIn{
  margin: 0 auto;
  border: 3px solid black;
}
/*Register*/
#Register{
  margin: 0 auto;
  border: 3px solid black;
}

/*PortFolio*/

/*Transaction*/

/*Header*/
